//everywhere
body {
    background-color: palevioletred;
}

a{
    text-decoration: none;
    color: black;
}
//Galaxies page
.Galaxy img{
    width: 12rem;
    height:12rem;
    border-radius: 50%;
}

//This one to be used on flex styling for whole page
.Galaxies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Galaxy{
    width:26rem;
    height:26rem;
    margin:2rem;
    margin-top: 5rem;
    text-align: center;
    border-style: dotted;
    border-color: rgba(53, 51, 51, 0.6);
  }
.Galaxy:hover{
    animation-name: "gradient";
    animation-duration: 2s;
  img{
    transform: rotate(360deg);
    transition: 2s;
    width:13rem;
    height:13rem;
  }
  h2{
      text-decoration: underline;
  }
} 


@keyframes gradient{
    0%{background-color: palevioletred;}
    50%{background-color:rgba(53, 51, 51, 0.6)}
    100%{background-color: palevioletred;}
    0%{color: black;}
    50%{color:palevioletred}
    100%{color: black;}
    0%{border-color: black;}
    50%{border-color:palevioletred}
    100%{border-color: black;}
    
}


//Navigation
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(53, 51, 51, 0.6) ;
    height:5rem;
    
    p{
        color: black;
        font-size: 1.5rem;
        font-weight: bold;   
    }
    
}
.navigation p:hover{
    font-size: 2rem;
    text-decoration: underline;
}
h1{
    font-size: 3rem;
    margin-bottom: 0;
    margin-left: 2rem;
}
.index{
    margin-top: -1rem;
    margin-bottom: -0.2rem;
    font-size: 1.5rem;
    margin-left: 12rem;
    color:black;
    font-weight: bold;

}


//Universe 
.Universe{
    margin-bottom: 5rem;
    img{
        width:35rem;
        height: 25rem;
        border-radius: 90%;
    }
    h2{
        
        text-align: center;
        font-size: 4rem;
    }

}
.Universe:hover{
        
    h2{
      text-decoration: underline;}
      img{
          border-style: solid;
          border-color: rgb(39, 39, 85);
          border-width: 0.5rem;
      }

}

//Categories
.Categories{
    display: flex;
    justify-content: center;
    width:100%;
    flex-wrap: wrap;
    
    img{
        width: 50rem;
        border-radius: 90%;
        
    }
    h2{
        text-align: center;
        font-size: 4rem;
        margin-top: 5rem;
    }

}

.Category:hover{
    
    h2{
    
        text-decoration: underline;
    }
    img{
        border-style:solid;
        border-color: rgb(39, 39, 85);
        border-width: 0.5rem;
    }
}
//Items

.Items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    h3{
        font-size: 2rem;
    }
    h2{
        font-size: 2rem;
    }
}
//Items - search bar
.SearchBar{
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
   
    
    .img{
        width:2rem;
        
    }
    input{
        height:1.5rem;
        width:10rem;
    }
    p{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0;
    }
    select{
        width: 8rem;
        height:2rem,
    }
    .select{
        margin-top: 1rem;
    }
}


//About Us

.AboutUs{
    height:105vh;
    text-align: center;
    h1{
        margin-top: 5rem;
        margin-bottom: -5rem;
        font-size: 5rem;
    }
    .Team{
        height: 105vh;
        display: flex;
        justify-content: center; 
        align-items: center;      
    }
    img{
        width:25rem;
        margin-right:1.5rem;
        border-style: solid;
        border-color: rgb(39, 39, 85);
        
    }
    p{
        text-align: center;
        margin-left: 15rem;
        margin-right: 15rem;
        margin-top: -8rem;
    }
}

//Detail Item
.Detail{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color:rgba(53, 51, 51, 0.3);
    h2{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0.2rem;
    }
    .DeatilImg{
        margin-right: 5rem;
        margin-top: 5rem;
        margin-left: 5rem;
        display: flex;
    }
    .mainImg{
        width:40rem;
        height:25rem;
        
    }
    img{
        width:15rem;
        height:12rem;
        
    }
    .info{
        height:32rem;
        display: flex;
        flex-direction: column;
        
    }
    .Galaxyverse{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    p{
        margin-top: 2rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .Buy{
        display: flex;
        justify-content: space-evenly;
        margin-right: 4rem;
        button{
            background-color: black;
            margin-top: 3rem;
            width:10rem;
            height:4rem;
            font-size: 2rem;
            font-weight: bold;
            color:palevioletred;
        }
        p{
            font-size: 5rem;
            
        }
        
    }
}
.Sold{
    width:98%;
    margin: 1rem;
    background-color: black;
    text-align: center;
    color:palevioletred ;
    h3{
            font-size: 6rem;
            margin:1rem;
        }
    }


    //Owners

    .purchased{
        display: flex;
        flex-direction: column;
        h3{
            text-align: center;
            font-size: 3rem;
            margin-top: -5rem;
            text-decoration: underline;
        }
    }

    // Universe Items
    .UniverseDetail{
    margin-top: 1rem;
    display: flex;
    background-color:rgba(53, 51, 51, 0.3);
    img{
        border-style: solid;
        border-color: rgb(39, 39, 85);
        border-width: 0.5rem;
    }
    .UniverseText{
        display: flex;
        flex-direction: column;
        h3{
            text-align: center;
        }
        p{
            text-align: center;
            margin-right: 4rem;
            margin-left: 4rem;
        }
    }
    }